body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
}

.color {
    color: darkorange;
}

.flexible-container {
    display: flex;
    margin-bottom: 125px;
    padding-left: 50px;
    padding-right: 50px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 75%;
    padding-left: 5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(18, 92, 189), rgb(0, 207, 243));
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width-2 {
    padding-right: 100px;
    width: 50%;
}

.orange-color {
    color: darkorange;
}

.experience-item {
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
}

h2 {
    font-size: 40px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#Full-Stack-developer {
    border-left: 7px solid orangered;
}

#Full-Stack-developer-two {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}